<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.pojo.Article">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="main_img" jdbcType="VARCHAR" property="main_img"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="praise_count" jdbcType="INTEGER" property="praiseCount"/>
        <result column="browse_count" jdbcType="INTEGER" property="browseCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,title,status,des,main_img,content,comment_count,praise_count,browse_count, create_time, update_time,delete_time
    </sql>
    <select id="selectArticleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_article
    </select>

</mapper>