<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.dao.TagMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.model.pojo.Tag">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="bg_color" jdbcType="VARCHAR" property="bg_color"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="delete_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,`name`,des,color,bg_color, create_time, update_time,delete_time
    </sql>

    <select id="getArticleTagIds" parameterType="java.lang.Integer" resultType="java.lang.String">
        select tag_id
        from blog_tag_article
        where article_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectTagsListByIds" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_tag
        where id in
        <foreach collection="ids" open="(" item="id" separator="," close=")">#{id}</foreach>
    </select>

    <select id="selectTagList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_tag
    </select>

    <insert id="insertTag" parameterType="com.example.demo.model.pojo.Tag">
        insert into blog_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="des != null">
                des,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="bg_color != null">
                bg_color,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="des != null">
                #{des, jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                #{color, jdbcType=VARCHAR},
            </if>
            <if test="bg_color != null">
                #{bg_color, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>