<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="last_login_ip"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="last_login_time"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="delete_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , username, nickname, password, token, avatar, last_login_ip, last_login_time, create_time, update_time, delete_time
    </sql>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_user
        where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateUser" parameterType="com.example.demo.model.pojo.User">
        update blog_user
        <set>
            <if test="username != null">
                username = #{username, jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="last_login_ip != null">
                last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
            </if>
            <if test="last_login_time != null">
                last_login_time = #{last_login_time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insertSelective" parameterType="com.example.demo.model.pojo.User">
        insert into blog_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from blog_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>